@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0 auto; font-family:"宋体";}
body { padding:0 5px; background:url(../../images/top_bg2.jpg) no-repeat left top #192d5f;}
ul { list-style-type:none;}
img { border:none;}
a { text-decoration:none;}
a:hover { text-decoration:underline;}
.clear { clear:both; height:0; overflow:hidden;}
.ceng_box { width:100%; clear:both;}

.text { height:21px; border:1px solid #bec0c9; color:#333333;}
.btn_dl { width:74px; height:25px; background:url(../../images/btn_dl.gif); cursor:pointer; border:none; margin:9px;}
.btn_zhc { width:74px; height:25px; background:url(../../images/btn_zhc.gif); cursor:pointer; border:none; margin:9px;}


#main { width:100%;}
#top { height:119px; width:100%;}

.language { width:98px; background:url(../../images/language_conbg2.gif) repeat-y;float:right; margin:5px 30px auto auto;}
.language .language_di { background:url(../../images/language_di2.gif) no-repeat bottom;}
.language .language_con { width:98px; background:url(../../images/language_up2.gif) no-repeat top; overflow:hidden;}
.language .language_con h5 { font-weight:normal; background:url(../../images/xiajiao.gif) no-repeat center 12px; color:#FFFFFF; font-size:12px; padding-right:55px; line-height:32px; text-align:center; margin-right:-45px; cursor:pointer; margin-bottom:-9px;}
.language .language_con p { color:#FFFFFF; font-size:12px; text-align:center; line-height:20px;}
.language .language_con p a { color:#FFFFFF; text-decoration:none;}
.language .language_con p a:hover { text-decoration:underline;}

#nav { width:100%; height:50px; background:url(../../images/bg.jpg) repeat;}
#nav .navbg { width:100%; height:50px; background:url(../../images/navbg.gif) repeat-x top;}
#nav .nav_con { float:left; background:url(../../images/nav_bg.gif) repeat-x top; height:50px;}
#nav .nav_con img { float:left;}

#nav .nav_con ul { font-size:14px; float:left;}
#nav .nav_con ul li { display:inline; margin:0; padding:0; position:relative;width:auto;}
#nav .nav_con a { display:inline-block; height:50px; }
#nav .nav_con a span { float:left; display:inline-block; height:50px;}
#nav .nav_con a span font{ float:left;display:inline-block; height:50px;}
#nav .nav_con a span font center { float:left;padding:0 15px; line-height:46px; height:50px; font-size:14px; font-family:"微软雅黑"; color:#FFFFFF; cursor:pointer;}
#nav .nav_con a:hover {display:inline-block; height:50px; background:url(../../images/a_bg.gif) repeat-x top;text-decoration:none;}
#nav .nav_con a:hover span {display:inline-block; height:50px; background:url(../../images/a_bai.gif) no-repeat left top;}
#nav .nav_con a:hover span font{display:inline-block; height:50px; background:url(../../images/a_bai.gif) no-repeat right top; cursor:pointer;}
#nav .nav_con a:hover span font center { padding:0 15px; line-height:46px; height:50px; background:url(../../images/a_jiao.gif) no-repeat center bottom; font-size:14px; font-family:"微软雅黑"; color:#9c3609;}
#nav .nav_con a.on {display:inline-block; height:50px; background:url(../../images/a_bg.gif) repeat-x top;text-decoration:none;}
#nav .nav_con a.on span {display:inline-block; height:50px; background:url(../../images/a_bai.gif) no-repeat left top;}
#nav .nav_con a.on span font{display:inline-block; height:50px; background:url(../../images/a_bai.gif) no-repeat right top; cursor:pointer;}
#nav .nav_con a.on span font center { padding:0 15px; line-height:46px; height:50px; background:url(../../images/a_jiao.gif) no-repeat center bottom; font-size:14px; font-family:"微软雅黑"; color:#9c3609; position:relative; z-index:999;}

#nav .nav_con ul li ul {display:none;position:absolute;top:5px;*top:44px;left:0px;width:120px;background:#005491;border:1px solid #9fc2e7;padding:5px 0 5px 0; z-index:99;}
#nav .nav_con ul li ul li { width:100%;}
#nav .nav_con ul li ul li a{ width:110px;font-size:12px; text-align:left; color:#fafdfd; line-height:24px; height:24px; font-weight:normal; display:block; padding:0 0 0 10px; float:left;}
#nav .nav_con ul li ul li a:hover { color:#bddaf7; background:none;height:24px; line-height:24px;}
#nav .nav_con ul li ul li a:hover span font center {color:#bddaf7;}


#nav .nav_span { float:right; height:50px; padding-right:50px; line-height:38px; color:#bfc6d5; text-align:right; font-size:12px; background:url(../../images/nav_span.gif) no-repeat right top;}
#nav .nav_span a {color:#bfc6d5; margin-left:10px;}

#content { padding:0 6px 7px 6px; background:url(../../images/bg.jpg) repeat;}

.box_big { background:#FFFFFF; width:100%;}

#botom { height:56px; width:100%; text-align:center; line-height:50px; font-size:12px; color:#757575; background:url(../../images/botom.gif) repeat;}
.tab2 { width:100%; float:right; margin-top:5px;}
.tab2 .biaotab { height:27px;}
.tab2 .biaotab a { height:27px; background:url(../../images/pa_al.gif) no-repeat left bottom; padding-left:5px; line-height:26px;font-weight:bold;display:block;cursor:pointer; float:left; position:relative;}
.tab2 .biaotab a span { height:27px; background:url(../../images/pa_ar.gif) no-repeat right bottom; padding-right:5px; display:inline-block;color:#506f8f;}
.tab2 .biaotab a span font{height:27px;background:url(../../images/pa_abg.gif) repeat-x bottom;padding:0 10px;display:inline-block;font-size:14px;}
.tab2 .biaotab a:hover { text-decoration:none;}
.tab2 .biaotab a.on { height:27px; background:url(../../images/pa_aonl.gif) no-repeat left bottom; padding-left:5px; line-height:26px;font-weight:bold;display:block; z-index:9999; position:relative;}
.tab2 .biaotab a.on span { height:27px; background:url(../../images/pa_aonr.gif) no-repeat right bottom; padding-right:5px; display:inline-block;color:#ba5c01;}
.tab2 .biaotab a.on span font{height:27px;background:url(../../images/pa_aonbg.gif) repeat-x bottom;padding:0 10px;display:inline-block;font-size:14px;}

.tab1 { width:100%; background:url(../../images/tab1bg.gif) no-repeat left 26px; position:relative;}
.tab1 .biao_tab { height:31px; background:url(../../images/pa_cbbg.gif) no-repeat right bottom; width:100%;}
.tab1 .biao_tab a {height:27px;background:url(../../images/ptab_al.gif) no-repeat left bottom;padding-left:5px;line-height:26px;display:inline-block;margin-right:-20px;cursor:pointer; position:relative; }
.tab1 .biao_tab a span {height:27px; background:url(../../images/ptab_ar.gif) no-repeat right bottom; padding-right:27px; display:inline-block;color:#2d5d73;}
.tab1 .biao_tab a span font{height:27px;background:url(../../images/ptab_abg.gif) repeat-x bottom;padding:0 0px 0 5px;display:inline-block;font-size:14px;font-weight:normal;}
.tab1 .biao_tab a:hover { text-decoration:none;}
.tab1 .biao_tab a.on {height:27px;background:url(../../images/ptab_aonl.gif) no-repeat left bottom;padding-left:5px;line-height:26px;font-weight:bold;display:inline-block; position:relative; z-index:999;}
.tab1 .biao_tab a.on span { height:27px; background:url(../../images/ptab_aonr.gif) no-repeat right bottom; padding-right:27px; display:inline-block;color:#2d5d73;}
.tab1 .biao_tab a.on span font{height:27px;background:url(../../images/ptab_aonbg.gif) repeat-x bottom;padding:0 0px 0 5px;display:inline-block;font-size:14px; font-weight:bold;}

.box { margin-top:-1px; position:relative; z-index:1; background:#FFFFFF; border:1px solid #c9deec; padding:6px;}
.box2 { margin-top:-1px; position:relative; z-index:1; background:#FFFFFF; border:1px solid #c9deec; border-bottom:none;}

.tab1_box { border:1px solid #a4c0cc; border-width:0 1px 0 1px; background:url(../../images/tab1_box.gif) repeat-x top #f2fbfe; font-size:12px; color:#66686a;}
.tab1_box .text { color:#333333;}
.tab1_box img { vertical-align:middle; margin-right:4px;}
.tab1_box a { color:#3879a3; text-decoration:underline;}
.di { height:5px; background:url(../../images/pbox_dibg.gif) repeat-x bottom;}
.di .box_di { height:5px; background:url(../../images/pbox_dil.gif) no-repeat left; overflow:hidden; font-size:0;}
.di .box_di .box_dir { height:5px; background:url(../../images/pbox_dir.gif) no-repeat right; overflow:hidden; font-size:0;}
.up { height:5px; background:url(../../images/pbox_upbg.gif) repeat-x bottom;}
.up .box_up { height:5px; background:url(../../images/pbox_upl.gif) no-repeat left; overflow:hidden; font-size:0;}
.up .box_up .box_upr { height:5px; background:url(../../images/pbox_upr.gif) no-repeat right; overflow:hidden; font-size:0;}

.up2 { height:5px; background:url(../../images/pbox_upbg2.gif) repeat-x bottom;}
.up2 .box_up { height:5px; background:url(../../images/pbox_upl2.gif) no-repeat left; overflow:hidden; font-size:0;}
.up2 .box_up .box_upr { height:5px; background:url(../../images/pbox_upr2.gif) no-repeat right; overflow:hidden; font-size:0;}

.h2 { font-size:14px; color:#ba5c01; font-weight:normal; line-height:24px; width:100%;}
.h2 .all_wx { border:1px solid #c9ccd7;display:inline-block; padding:0px 10px 0 5px; height:16px;background:url(../../images/ajiao.gif) no-repeat 56px center;font-size:12px;color:#3879a3; line-height:16px; float:right; margin-top:2px;*margin-top:-21px;_margin-top:-21px;}
.h6 { font-size:12px; height:29px; background:#eaf4ff; text-align:right; font-weight:normal; width:100%;}
.h6 a { color:#3879a3; text-decoration:underline; margin-right:5px; padding:8px 0 3px 20px; line-height:26px; background:url(../../images/checkout.gif) no-repeat left 6px;}

.select_wx { border:1px solid #adb9c2; border-width:0 1px 0 1px;}
.select_wx div {border-bottom:1px solid #adb9c2; background:#f2fbfe; overflow:hidden; width:100%; padding-bottom:3px;}
.select_wx div span {height:28px; background:url(../../images/wx_oneh.gif) repeat-x bottom; padding-left:15px; font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#192d5f; border-bottom:1px solid #adb9c2; line-height:28px; margin-bottom:3px; display:block; font-weight:bold;}
.select_wx div p { font-size:12px; color:#66686a; width:95%; line-height:24px;}
.select_wx div p font { color:#8f8989; font-size:12px; }
.select_wx div.collapsed {height:28px; padding-bottom:0;}
.select_wx div.collapsed span { margin:0;}

.select_wx2 { border:1px solid #adb9c2; border-width:0 1px 1px 1px; font-size:12px; padding-bottom:5px; background:#f2fbfe;}
.select_wx2 p { width:95%; line-height:24px;}
.select_wx2 p input { font-size:12px; color:#666;vertical-align:middle;}
.select_wx2 p img { vertical-align:middle; margin:0 3px;}
.select_wx2 p span { color:#66686a}
.xian_xu { height:1px; overflow:hidden; width:95%; background:url(../../images/xian_xu.gif) repeat-x;}


.btn_select { width:161px; height:31px; background:url(../../images/btn_select.gif); cursor:pointer; border:none; font-size:14px; color:#FFFFFF; line-height:31px; margin:8px auto;}

.page { color:#315e81; font-size:12px; line-height:24px; padding-left:4px;}
.page span { color:#000000;}
.page .btn { height:16px; border:1px solid #cfd2db; font-size:12px; color:#3f4249; padding:0px; background:#FFFFFF;}

.table_list {}
.table_list .tbody { width:100%; height:630px; overflow:auto;}
.table_list .tbody  tr { height:56px;}
.table_list th { height:28px; background:url(../../images/table_listth.gif) no-repeat right; color:#020202; font-size:12px; font-weight:normal;}
.table_list td { height:56px; border-bottom:1px solid #c9deec; color:#ba5c01; font-size:12px; text-align:center;}
.table_list td font { font-size:12px; color:#000000;}
.table_list .eye { width:12px; height:9px; background:url(../../images/eye1.gif); display:inline-block; vertical-align:middle;overflow:hidden;}
.table_list input { vertical-align:middle;}

/*.table_list2 { margin-top:-15px;}*/
.table_list2 {}
.table_list2 .tbody { width:100%; height:630px; overflow:auto;}
.table_list2 .tbody  tr { height:56px;}
/*.table_list2 thead tr { height:0;}*/
.table_list2 th { height:28px; background:url(../../images/table_listth.gif) no-repeat right; color:#020202; font-size:12px; font-weight:normal;}
/*.table_list2 th { height:0px; overflow:hidden; visibility:hidden; background:url(../../images/table_listth.gif) no-repeat right; color:#020202; font-size:12px; font-weight:normal;}*/
.table_list2 td { height:56px; border-bottom:1px solid #c9deec; color:#ba5c01; font-size:12px; text-align:center;}
.table_list2 td font { font-size:12px; color:#000000;}
.table_list2 .eye { width:12px; height:9px; background:url(../../images/eye1.gif); display:inline-block; vertical-align:middle;overflow:hidden;}
.table_list2 input { vertical-align:middle;}






div.sdmenu .div { background:url(../../images/con_l_up.jpg) no-repeat center -37px; width:100%; float:left; padding:15px 0 15px 0;}


div.sdmenu .di { display:block; float:left; margin-top:60px;}





div.sdmenu {width:100%; float:left; width:159px; background:#e6eff2;}

div.sdmenu span { width:100%; float:left; height:37px; text-align:center; line-height:37px; font-size:14px; font-weight:bold; color:#366170; background:url(../../images/con_l_up.jpg) no-repeat; display:block;}
div.sdmenu p { color:#366170;padding-left:16px; font-size:14px; line-height:30px;}
div.sdmenu p a {color:#366170;}

div.sdmenu div {
	overflow: hidden;
	margin-top:1px;
	margin-bottom:5px;
}
div.sdmenu div span {
	width:100%; float:left; height:42px; text-align:center; line-height:42px; font-size:14px; font-weight:bold; color:#366170; background:url(../../images/con_l_up.jpg) no-repeat; display:block;
}

div.sdmenu div:first-child {}
div.sdmenu div.collapsed {
	height:37px;
}
div.sdmenu div.collapsed span { }
div.sdmenu div a {}
div.sdmenu div a.current {}
div.sdmenu div a:hover {}

/*2011-07-28*/
.biao_tab2 { height:31px; background:url(../../images/pa_cbbg.gif) no-repeat right bottom; width:100%;}
.biao_tab2 a.on {height:27px;background:url(../../images/ptab_aonl.gif) no-repeat left bottom;padding-left:5px;line-height:26px;font-weight:bold;display:inline-block; position:relative; z-index:999;}
.biao_tab2 a.on span { height:27px; background:url(../../images/ptab_aonr.gif) no-repeat right bottom; padding-right:27px; display:inline-block;color:#ba5c01;}
.biao_tab2 a.on span font{height:27px;background:url(../../images/ptab_aonbg.gif) repeat-x bottom;padding:0 0px 0 5px;display:inline-block;font-size:14px; font-weight:normal;}

.select_wx2 h2 { width:95%; line-height:24px;}
.select_wx2 p font { color:#192d5f; padding-left:5px; display:inline-block;}
.select_wx2 table { color:#192d5f; font-family:"宋体";}
.select_wx2 table textarea { width:205px; height:45px;}
.xian_xu2 { height:1px; overflow:hidden; width:95%; background:url(../../images/xian_xu.gif) repeat-x; margin:3px auto;}

.bj_biao { height:29px; background:url(../../images/bj_biao.gif) repeat-x;}
.bj_biao h4 { padding-left:30px; background:url(../../images/bj_jiao.gif) no-repeat 12px center; font-size:14px; font-weight:bold; color:#506f8f; line-height:29px;}

.mar_top6 { margin-top:6px;}
.mar_0 { margin:0px;}
.fz_14 {  font-size:14px;}
.lh_22 { line-height:22px;}

.table_bj { font-size:14px; margin:0; line-height:38px;}
.table_bj th { text-align:right; font-weight:normal; font-family:"宋体";}
.table_bj td { text-align:left; }
.table_bj .text { width:245px; height:23px; line-height:23px; border:1px solid #a4c0cc; padding:0 5px;}
.table_bj .text2 { width:255px; height:23px; line-height:23px; border:1px solid #a4c0cc;}
.table_bj .text3 { width:160px; height:23px; line-height:23px; border:1px solid #a4c0cc; padding:0 5px;}
.table_bj .text4 { width:170px; height:23px; line-height:23px; border:1px solid #a4c0cc;}
.table_bj .text5 { width:255px; height:70px; line-height:23px; border:1px solid #a4c0cc;}

.btn_blue2  { width:74px; height:25px; background:url(../../images/btn_blue2.gif); cursor:pointer; border:none; margin:9px; color:#f4faff; font-weight:bold; line-height:24px;}
.btn_add  { width:91px; height:21px; background:url(../../images/btn_add.gif); cursor:pointer; border:none; color:#0b5593; line-height:20px;}

.box3 { margin-top:-1px; position:relative; z-index:1; background:#f4faff; border:1px solid #c9deec; padding:6px;}
.box4 { margin-top:-1px; position:relative; z-index:1; background:#f4faff; border:1px solid #c9deec; padding:6px; margin:5px;}

.cx_act { height:27px; background:#d5ecfe; overflow:hidden; margin-bottom:5px;}
.cx_act h3 { font-weight:normal; font-size:14px; color:#506f8f; padding-left:17px;}
.cx_act h3 font { font-size:14px; font-weight:bold; color:#c15330; line-height:27px;}
.cx_act span { float:right; width:350px; color:#315e81; font-size:12px; text-align:right; padding-right:13px; margin-top:-23px;}
.cx_act span .btn{ width:49px; height:18px; background:url(../../images/btn.gif) repeat-x; border:1px solid #c9ccd7; font-size:12px;}

.table_cx { border-bottom:1px solid #c9deec;}
.table_cx th { background:url(../../images/table_cx_th.gif) no-repeat right center #d6dade; font-size:14px; color:#3f4249; height:28px;border-top:1px solid #c9deec;}
.table_cx td {border-top:1px solid #c9deec; text-align:center; font-size:12px; padding:5px 0; line-height:18px; color:#3f4249; font-family:Arial, Helvetica, sans-serif;}
.table_cx font { color:#ba5c01; font-size:12px;}
.table_cx span { color:#1b5d89;}
.table_cx tr.hui {}
.table_cx tr.hui td {border-top:1px solid #c9deec;text-align:center;font-size:12px;padding:5px 0;line-height:18px;color:#3f4249;font-family:Arial, Helvetica, sans-serif;background:#edf2f5;}
.table_cx tr.red {}
.table_cx tr.red td {border-top:1px solid #c9deec;text-align:center;font-size:12px;padding:5px 0;line-height:18px;color:#3f4249;font-family:Arial, Helvetica, sans-serif;background:#fbf6d7;}
.table_cx tr.red .btn_add  { width:91px; height:21px; background:url(../../images/btn_add2.gif); cursor:pointer; border:none; color:#0b5593; line-height:20px;}

.zhushi { padding:15px 0 50px 10px; font-size:14px; color:#1b5d89;}
.zhushi img { vertical-align:middle; margin:auto 4px auto 1px;}
.zhushi a { color:#1b5d89;}
.required{color: red;}
