@charset "utf-8";
/* CSS Document */
html { height:100%;}

*{ padding:0; margin:0 auto; font-family:"宋体";}
/*
body { background:url(../../images/body_bg.jpg) repeat-x center top #192d5f;height:100%;}
*/
ul { list-style-type:none;}
img { border:none;}
a { text-decoration:none;}
a:hover { text-decoration:underline;}
.clear { clear:both; height:0; overflow:hidden;}
.ceng_box { width:100%; clear:both;}

.text { height:21px; border:1px solid #bec0c9; color:#333333;}
.btn_dl { width:74px; height:25px; background:url(../../images/btn_dl.gif); cursor:pointer; border:none; margin:9px;}
.btn_zhc { width:74px; height:25px; background:url(../../images/btn_zhc.gif); cursor:pointer; border:none; margin:9px;}
.btn_denglu { width:75px; height:29px; background:url(../../images/btn_denglu.gif); cursor:pointer; border:none; margin:9px;}
.btn_zhuce { width:75px; height:29px; background:url(../../images/btn_zhuce.gif); cursor:pointer; border:none; margin:9px;}


#main { width:1002px;}
#top { height:119px; width:100%; float:left;}

.language { width:98px; background:url(../../images/language_conbg.gif) repeat-y;float:right; margin:5px 30px auto auto;}
.language .language_di { background:url(../../images/language_di.gif) no-repeat bottom;}
.language .language_con { width:98px; background:url(../../images/language_up.gif) no-repeat top; overflow:hidden;}
.language .language_con h5 { font-weight:normal; background:url(../../images/xiajiao.gif) no-repeat center 12px; color:#FFFFFF; font-size:12px; padding-right:55px; line-height:32px; text-align:center; margin-right:-45px; cursor:pointer; margin-bottom:-9px;}
.language .language_con p { color:#FFFFFF; font-size:12px; text-align:center; line-height:20px;}
.language .language_con p a { color:#FFFFFF; text-decoration:none;}
.language .language_con p a:hover { text-decoration:underline;}

#nav { width:100%; height:50px; background:#699ccd; float:left;}
#nav .navbg { width:100%; height:50px; background:url(../../images/navbg.gif) repeat-x top;}
#nav .nav_con { float:left; background:url(../../images/nav_bg.gif) repeat-x top; height:50px;}
#nav .nav_con img { float:left;}

#nav .nav_con ul { font-size:14px; float:left;}
#nav .nav_con ul li { display:inline; margin:0; padding:0; position:relative;width:auto;}
#nav .nav_con a { display:inline-block; height:50px; }
#nav .nav_con a span { float:left; display:inline-block; height:50px;}
#nav .nav_con a span font{ float:left;display:inline-block; height:50px;}
#nav .nav_con a span font center { float:left;padding:0 15px; line-height:46px; height:50px; font-size:14px; font-family:"微软雅黑"; color:#FFFFFF; cursor:pointer;}
#nav .nav_con a:hover {display:inline-block; height:50px; background:url(../../images/a_bg.gif) repeat-x top;text-decoration:none;}
#nav .nav_con a:hover span {display:inline-block; height:50px; background:url(../../images/a_bai.gif) no-repeat left top;}
#nav .nav_con a:hover span font{display:inline-block; height:50px; background:url(../../images/a_bai.gif) no-repeat right top; cursor:pointer;}
#nav .nav_con a:hover span font center { padding:0 17px; line-height:46px; height:50px; background:url(../../images/a_jiao.gif) no-repeat center bottom; font-size:14px; font-family:"微软雅黑"; color:#9c3609;}
#nav .nav_con a.on {display:inline-block; height:50px; background:url(../../images/a_bg.gif) repeat-x top;text-decoration:none;}
#nav .nav_con a.on span {display:inline-block; height:50px; background:url(../../images/a_bai.gif) no-repeat left top;}
#nav .nav_con a.on span font{display:inline-block; height:50px; background:url(../../images/a_bai.gif) no-repeat right top; cursor:pointer;}
#nav .nav_con a.on span font center { padding:0 17px; line-height:46px; height:50px; background:url(../../images/a_jiao.gif) no-repeat center bottom; font-size:14px; font-family:"微软雅黑"; color:#9c3609; position:relative; z-index:999;}

#nav .nav_con ul li ul {display:none;position:absolute;top:5px;*top:44px;left:0px;width:120px;background:#005491;border:1px solid #9fc2e7;padding:5px 0 5px 0; z-index:99;}
#nav .nav_con ul li ul li { width:100%;}
#nav .nav_con ul li ul li a{ width:110px;font-size:12px; text-align:left; color:#fafdfd; line-height:24px; height:24px; font-weight:normal; display:block; padding:0 0 0 10px; float:left;}
#nav .nav_con ul li ul li a:hover { color:#bddaf7; background:none;height:24px; line-height:24px;}
#nav .nav_con ul li ul li a:hover span font center {color:#bddaf7;}


#nav .nav_span { float:right; height:50px; padding-right:50px; line-height:38px; color:#bfc6d5; text-align:right; font-size:12px; background:url(../../images/nav_span.gif) no-repeat right top;}
#nav .nav_span a {color:#bfc6d5; margin-left:10px;}

#content { padding:0 6px 7px 6px; width:990px; background:#699ccd; float:left;}

.b_l { width:251px; padding-right:7px; float:left;}
.b_r { width:732px; float:left;}

.biao { height:30px; background:url(../../images/biaol.gif) no-repeat left top; padding-left:5px;}
.biao .biaor { height:30px; background:url(../../images/biaor.gif) no-repeat right top; padding-right:5px;} 
.biao .biaor .biaocon { height:30px; background:url(../../images/biaobg.gif) repeat-x top;}
.biao .biaor .biaocon h5 { font-size:14px; color:#506f8f; float:left; line-height:30px; padding-left:10px;}
.biao .biaor .biaocon span { font-size:12px; line-height:30px; float:right; padding-right:10px;}
.biao .biaor .biaocon span a { color:#4d6072;}

.box_big { margin-bottom:7px; background:#FFFFFF; float:left; width:100%;}

.box { margin-bottom:7px; background:#FFFFFF;}
.box .box_di { height:5px; background:url(../../images/box_dil.gif) no-repeat left; overflow:hidden; font-size:0;}
.box .box_dir { height:5px; background:url(../../images/box_dir.gif) no-repeat right; overflow:hidden; font-size:0;}
.box .table_loginok { font-size:12px; color:#000000;  line-height:26px;}
.box .table_loginok p { width:90%}
.box .table_loginok p a { color:#000000; text-decoration:underline; font-family:Arial, Helvetica, sans-serif;}

.jsimg { padding:14px 14px 14px 13px; background:url(../../images/jsimg.gif) no-repeat; float:left; margin:11px auto 0 18px;_margin:11px auto 0 9px; width:303px; height:259px;}
.jsimg img { display:block;}
.gd { width:626px; height:293px; padding:10px 0 10px 0; float:right;}
.gd .gd_left { width:27px; height:27px; background:url(../../images/left.gif); float:left; border:none; margin-top:130px;}
.gd .gd_lefton { width:27px; height:27px; background:url(../../images/lefthover.gif); float:left;border:none; margin-top:130px;}
.gd .gd_right{ width:27px; height:27px; background:url(../../images/right.gif); float:left; border:none; margin-top:130px;}
.gd .gd_righton { width:27px; height:27px; background:url(../../images/righthover.gif); float:left;border:none; margin-top:130px;}
.gd .gd_con { float:left; width:556px; height:293px;}
.gd .gd_con ul { width:109px; margin:8px auto;}
.gd .gd_con ul img { display:block;}
.gd .gd_con ul li { line-height:18px; background:url(../../images/gdli.gif) no-repeat bottom; font-size:12px; font-weight:bold; text-align:center; width:100%; float:left;}
.gd .gd_con ul li a { color:#303e4e;}
.gd .page { font-size:12px; font-family:"宋体"; text-align:right; padding-top:9px;_padding-top:0px; width:100%; float:left;}
.gd .page a { display:inline-block; width:14px; line-height:14px; height:14px; border:1px solid #c6c6c6; background:#eeeeee; color:#000000; text-align:center; font-weight:bold;}
.gd .page a:hover { display:inline-block; width:14px; line-height:14px; height:14px; border:1px solid #e2ac81; background:url(../../images/gd_page.gif) repeat-x bottom #ffffff; color:#fe6702; font-weight:bold;text-align:center; text-decoration:none;}
.gd .page a.on { display:inline-block; width:14px; line-height:14px; height:14px; border:1px solid #e2ac81; background:url(../../images/gd_page.gif) repeat-x bottom #ffffff; color:#fe6702; font-weight:bold;text-align:center; text-decoration:none;}

.login_table { font-size:14px; color:#556082; font-family:"宋体";}
.login_table td{ padding:3px 0;}

.p_us { width:82%; font-size:12px; background:url(../../images/dian_pus.gif) no-repeat left 8px; padding-left:8px; color:#517da1; line-height:18px; padding-bottom:3px;}
.p_us b { color:#556082; font-size:12px; font-weight:normal; display:inline;}

.tab1 { width:467px; float:left;}
.tab1 .biaotab { height:26px;}
.tab1 .biaotab a { height:26px; background:url(../../images/kdw_al.gif) no-repeat left bottom; padding-left:5px; line-height:26px;font-weight:bold;display:block; margin-right:-10px; cursor:pointer; float:left;}
.tab1 .biaotab a span { height:26px; background:url(../../images/kdw_ar.gif) no-repeat right bottom; padding-right:27px; display:inline-block;color:#506f8f;}
.tab1 .biaotab a span font{height:26px;background:url(../../images/kdw_abg.gif) repeat-x bottom;padding:0 10px;display:inline-block;font-size:14px;}
.tab1 .biaotab a:hover { text-decoration:none;}
.tab1 .biaotab a.on { height:26px; background:url(../../images/kdw_aonl.gif) no-repeat left bottom; padding-left:5px; line-height:26px;font-weight:bold;display:block; margin-right:-10px;}
.tab1 .biaotab a.on span { height:26px; background:url(../../images/kdw_aonr.gif) no-repeat right bottom; padding-right:27px; display:inline-block;color:#ba5c01;}
.tab1 .biaotab a.on span font{height:26px;background:url(../../images/kdw_aonbg.gif) repeat-x bottom;padding:0 10px;display:inline-block;font-size:14px;}

#kdw1 { z-index:999; position:relative;}
#kdw1.on { z-index:9990;}
#kdw2 { z-index:99;position:relative;}
#kdw2.on { z-index:9999;}

.kdw_conbg { background:url(../../images/kdw_conbg.gif) no-repeat right top; padding-top:15px; text-align:center;}
.kdw_conbg p { width:93%; font-size:12px; line-height:20px; margin:0px auto 17px auto; text-indent:24px; color:#556082; text-align:left;}
.kdw_conbg span { float:right; font-size:12px; padding:0 30px 0 0;}
.kdw_conbg span a { color:#ba5c01; text-decoration:underline;}

.tab2 { width:260px; float:right;}
.tab2 .biaotab { height:26px;}
.tab2 .biaotab a { height:26px; background:url(../../images/kdw_al.gif) no-repeat left bottom; padding-left:5px; line-height:26px;font-weight:bold;display:block;cursor:pointer; float:left;}
.tab2 .biaotab a span { height:26px; background:url(../../images/tab2_ar.gif) no-repeat right bottom; padding-right:5px; display:inline-block;color:#506f8f;}
.tab2 .biaotab a span font{height:26px;background:url(../../images/kdw_abg.gif) repeat-x bottom;padding:0 10px;display:inline-block;font-size:14px;}
.tab2 .biaotab a:hover { text-decoration:none;}
.tab2 .biaotab a.on { height:26px; background:url(../../images/kdw_aonl.gif) no-repeat left bottom; padding-left:5px; line-height:26px;font-weight:bold;display:block; }
.tab2 .biaotab a.on span { height:26px; background:url(../../images/tab2_aron.gif) no-repeat right bottom; padding-right:5px; display:inline-block;color:#ba5c01;}
.tab2 .biaotab a.on span font{height:26px;background:url(../../images/kdw_aonbg.gif) repeat-x bottom;padding:0 10px;display:inline-block;font-size:14px;}

.list { width:240px; text-align:left;}
.list li { font-size:12px; color:#517da1; line-height:22px;}
.list li a { color:#517da1;}
.list li span {color:#517da1; margin-left:5px; padding:0; float:none;line-height:24px;}

.tab3biao { width:113px; float:left; background:url(../../images/dq.gif) no-repeat left bottom; height:157px;}
.tab3biao a:hover { text-decoration:none;} 
.tab3biao #zld1 { width:73px; padding-left:40px; height:39px; background:url(../../images/tab3_1.gif) no-repeat left top; line-height:38px; color:#506f8f; font-weight:bold; font-size:14px; margin-bottom:2px; display:block;}
.tab3biao #zld1.on { background:url(../../images/tab3_1on.gif) no-repeat left top; color:#ba5c01; position:relative; z-index:999;}
.tab3biao #zld2 { width:73px; padding-left:40px; height:39px; background:url(../../images/tab3_2.gif) no-repeat left top; line-height:38px; color:#506f8f; font-weight:bold; font-size:14px; margin-bottom:2px;display:block;}
.tab3biao #zld2.on { background:url(../../images/tab3_2on.gif) no-repeat left top; color:#ba5c01; position:relative; z-index:999;}
.tab3con { height:156px; width:620px; float:right; background:url(../../images/tab3conbg.gif) repeat-x top; position:relative; z-index:99; margin-left:-1px;}
.tab3con .con { float:left; height:156px; background:url(../../images/tab3con_b.gif) repeat-y left; position:relative; z-index:99; width:590px;}
.tab3con .tab3con_r { float:right; display:block;}

.more {float:right; font-size:12px;}
.more a { color:#ba5c01; text-decoration:underline;}

#botom { height:56px; width:100%; text-align:center; line-height:50px; font-size:12px; color:#757575; float:left; background:url(../../images/botom.gif) repeat; margin-top:2px;}

.pad_t15 { padding-top:15px;}
.pad_b10 { padding-bottom:10px;}
.height215 { height:215px; overflow:hidden;}
.heigh10 { height:15px; overflow:hidden;}
.margin_b3 { margin-bottom:3px;}
.margin_b0 { margin-bottom:0px;}

.weizhi { height:28px;padding-left:36px; background:url(../../images/bj_jiao.gif) no-repeat 20px center #deecf7; color:#1f588c; font-size:12px; line-height:28px;}
.weizhi span { color:#b04316;}
.weizhi a {color:#1f588c;}

.artcle { padding:10px 20px 60px 20px; background:#ffffff;}
.artcle h2 { font-size:20px; font-family:"宋体"; line-height:50px; font-weight:normal;  text-align:center;}
.artcle h5 { font-size:12px; font-family:"宋体"; font-weight:normal; text-align:center; text-align:center; color:#1f588c; padding-bottom:30px; background:url(../../images/xian_xu.gif) repeat-x bottom;}
.artcle .artcle_con { margin:0 30px;}
.artcle .artcle_con img { border:3px solid #dde4e9; margin:10px;}
.artcle .artcle_con p { margin-top:25px; line-height:26px; font-size:14px; text-indent:28px;}


.zhegai { width:100%; position:absolute; z-index:9995; top:0; left:0; background:#000000;filter:alpha(opacity=70); opacity:0.7;}
.login_table{ width:100%; z-index:9996; top:0; left:0; height:90%;}
.login { width:344px;}
.login .top { height:5px; width:339px; padding-left:5px; background:url(../../images/login_topl.gif) no-repeat left;}
.login .top_r { height:5px; width:334px; padding-right:5px; background:url(../../images/login_topr.gif) no-repeat right;}
.login .top_bg { height:5px; width:334px;background:url(../../images/login_topbg.gif) repeat-x; overflow:hidden;}
.login .biao { height:35px; width:324px; padding:0 10px; background:url(../../images/login_biao.gif) repeat-x top;}
.login .biao .login_off { margin-top:7px;}
.login .di { height:5px; width:339px; padding-left:5px; background:url(../../images/login_dil.gif) no-repeat left;}
.login .di_r { height:5px; width:334px; padding-right:5px; background:url(../../images/login_dir.gif) no-repeat right;}
.login .di_bg { height:5px; width:334px;background:#ffffff; overflow:hidden;}
.login .login_con { width:100%; background:#FFFFFF; font-size:14px; color:#181e21;}
.login .login_con .text { height:24px; line-height:24px; border:1px solid #ccd2dc;}








